<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    body{
        background-image: url(img1.jpg);
    }
 
    .container{
        background-color: rgb(159, 251, 251);
        width:400px;
        text-align: center;
        position: absolute;
        left:37%;
        top:30%;
        padding:20px;
    }
</style>
</head>
<body>

    <div class="container">
  
    <form action="/user" method="post">
        <h1><u>
            Verify  Captcha
        </u></h1>
        
       <img src="/captcha.gif" width="100" height="50"><br><br>
        <input type="text" placeholder="Enter captcha" name="captcha"><br><br>

       <input type="submit">


    </form>
</div>
</body>
</html>